body {
    margin-right: 0; /* Видаляємо відступ справа для мобільних пристроїв */
}

header, main, footer {
    margin-right: 0; /* Видаляємо відступ справа для мобільних пристроїв */
}

.gallery {
    display: block; /* Показуємо галерею для мобільних пристроїв */
    background-color: rgb(225, 240, 58); /* Задаємо фон галереї */
    color: rgba(4, 100, 236, 0.445); /* Задаємо колір тексту галереї */
    margin: 20px; /* Додаємо зовнішні відступи для галереї */
}

.gallery figure {
    width: 100%; /* Змінюємо ширину блоку фігури на 100% для адаптації до ширини екрану */
    margin: 10px 0; /* Змінюємо зовнішні відступи для блоку фігури */
}

.gallery img {
    width: 100%; /* Змінюємо ширину зображення на 100% для адаптації до ширини екрану */
}

.gallery figcaption {
    margin-top: 15px; /* Збільшуємо відступ між зображенням і підписом для мобільних пристроїв */
}
